* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'rubik';
  src: url('./fonts/rubik-variablefont_wght-webfont.woff2') format('woff2'),
       url('./fonts/rubik-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --page-font: 'rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --sidebar-color: hsl(97 33% 75%);
  --container-color: hsl(60 33% 75%);
  --card-color: hsl(87 52% 92%);
  --header-color: hsl(37 81% 64%);
  --accent-color: hsl(31 81% 51%);
  --shadow: 5px 5px 5px hsl(0 0 50%);
}

body {
  display: grid;
  grid-template-columns: 15rem 1fr;
  height: 100vh;
  font-family: var(--page-font);
}

/* div {
  border: 1px solid red;
} */

.sidebar {
  display: grid;
  grid-template-rows: 5rem 1fr;
  background: var(--sidebar-color);
  justify-content: center;
}

.logogrid {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 5rem 1fr;
  align-items: center;
}

.logo {
}

.logotext {
}

.nav {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-rows: repeat(10, 2rem);
}

.main {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 10rem 1fr;
}

.header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background: var(--header-color);
  z-index: 0;
  box-shadow: 0 3px 3px hsl(0 0 70%);
}

.headtop {
  padding: 1rem;
  display: grid;
  grid-template-columns: 5rem 1fr 5rem 5rem 15rem;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.searchicon {
  justify-self: end;
}

.searchbar {
  width: 40vw;
  height: 2rem;
  border-radius: 2rem;
  background: var(--accent-color);
  justify-self: start;
}

.bell {
}

.avatarsmall {
}

.username {
}

.headbottom {
  display: grid;
  grid-template-columns: 5rem 1.5fr 1fr;
  align-items: center;
}

.avatarlarge {
  justify-self: center;
}

.greeting {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.buttons {
  justify-self: space-between;
}

button {
    border: none;
    border-radius: 1rem;
    margin: 0 1rem;
    padding: 0.5rem;
    width: 6rem;
    background: var(--accent-color);
    color: white;
    font-family: var(--page-font);
    font-weight: 700;
    font-size: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 20rem;
  background: var(--container-color);
}

.projects {
  display: grid;
  grid-template-rows: 3rem 1fr;
}

.projects > p {
  align-self: end;
  padding: 0 1rem;
}

.cards {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem;
}

.card {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  border-left: 0.5rem solid var(--accent-color);
}

.icons {
  display: grid;
  grid-template-columns: 1fr 4rem 4rem 4rem;
  justify-items: center;
  align-items: center;
}

.fave {
  grid-column: 2 / 3;
}

.watch {
  grid-column: 3 / 4;
}

.share {
  grid-column: 4 / 5;
}

.feed {
  display: grid;
  grid-template-rows: 3rem 1fr 4rem 1fr;
  padding: 1rem;
}

.feedlabel{
  align-self: end;
  padding: 1rem 0;
}

.announcements {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.trending {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  gap: 1rem;
}

.card, .announcements, .trending {
  padding: 1rem;
  border-radius: 8px;
  box-shadow: var(--shadow);
  background: var(--card-color);
}