* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'rubik';
  src: url('./fonts/rubik-variablefont_wght-webfont.woff2') format('woff2');
  font-weight: 100 1000;
}

/* @font-face {
  font-family: 'rubik bold';
  src: url('./fonts/rubik-variablefont_wght-webfont.woff2') format('woff2'),
       url('./fonts/rubik-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

:root {
  --page-font: 'rubik', sans-serif;
  --sidebar-color: hsl(97 20% 40%);
  --container-color: hsl(60 33% 75%);
  --dark-text: hsl(0 0% 26%);
  --less-dark-text: hsl(0 0% 46%);
  --card-color: #ecf5e0;
  --header-color: hsl(31 75% 55%);
  --accent-color: hsl(24 85% 30%);
  --accent-hover: hsl(24 85% 20%);
  --shadow: 5px 5px 5px hsl(0 0 50%);
}

body {
  display: grid;
  grid-template-columns: 15rem 1fr;
  height: 100vh;
  font-family: var(--page-font);
  font-weight: 450;
}

.sidebar {
  display: grid;
  grid-template-rows: 5rem 1fr;
  background: var(--sidebar-color);
  gap: 1rem;
  padding-top: 0.5rem;
  justify-items: start;
  z-index: 1;
}

.logogrid {
  grid-row: 1 / 2;
  align-self: center;
  display: grid;
  grid-template-columns: 4rem 1fr;
  justify-items: center;
  align-items: center;
  padding-left: 1rem;
  gap: 1rem;
}

.logotext {
  justify-self: start;
  font-size: 1.4rem;
  color: var(--card-color);
  font-weight: 600;
}

.nav {
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-template-rows: repeat(10, 2rem);
  gap: 1rem;
  justify-items: center;
  align-items: center;
  padding-left: 2rem;
  color: var(--card-color);
}

.navlabel {
  justify-self: start;
  padding-left: 1rem;
}
.main {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 10rem 1fr;
  color: var(--dark-text);
}

.header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background: var(--header-color);
  z-index: 0;
  box-shadow: 0 3px 3px hsl(0 0 70%);
}

.headtop {
  padding: 0 10rem 0 2rem;
  display: grid;
  grid-template-columns: 5rem 1fr 3rem 3rem 10rem;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.searchicon {
  margin-right: 1rem;
  justify-self: end;
}

.searchbar {
  width: 40vw;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
  background: var(--accent-color);
  justify-self: start;
  color: var(--card-color);
  font-family: var(--page-font);
  font-weight: 700;
  font-size: 1rem;
}

.searchbar:focus-visible {
  outline: none;
}

.avatar {
  border-radius: 2rem;
  justify-self: center;
}

.username {
  font-size: 1.5rem;
  font-weight: 600;
}

.headbottom {
  display: grid;
  grid-template-columns: 5rem minmax(20rem, 1.5fr) minmax(35rem, 1fr);
  align-items: center;
  gap: 1rem;
  padding: 0 0 1rem 3rem;
}

.avatarlarge {
  justify-self: center;
  border-radius: 3rem;
}

.greeting {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.greeting .namehandle {
  font-size: 1.5rem;
  font-weight: 600;
}

.buttons {
  justify-self: end;
  padding-right: 7rem;
}

button {
    border: none;
    border-radius: 1rem;
    margin: 0 16px;
    padding: 8px 16px;
    width: 6rem;
    background: var(--accent-color);
    color: var(--card-color);
    font-family: var(--page-font);
    font-weight: 500;
    font-size: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 20rem;
  background: var(--container-color);
  padding: 2rem 3rem 4rem 2rem
}

.projects {
  display: grid;
  grid-template-rows: 2rem 1fr;
}

.cards {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}

.card, .announcements, .trending {
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: var(--shadow);
  background: var(--card-color);
  transition: 300ms;
}

.card {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  border-left: 0.5rem solid var(--accent-color);
  align-items: center;
  transition: 300ms;
}

.card .content {
  align-self: start;
}

.container .title {
  font-size: 1.3rem;
  align-self: end;
  margin-bottom: 1rem;
  font-weight: 600;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 4rem 4rem 4rem;
  justify-items: center;
  align-items: center;
}

.fave {
  grid-column: 2 / 3;
}

.watch {
  grid-column: 3 / 4;
}

.share {
  grid-column: 4 / 5;
}

.feed {
  display: grid;
  grid-template-rows: 2rem 1fr 4rem 1fr;
  padding: 0 0 0 2rem;
}

.announcements {
  display: grid;
  grid-template-rows: 1fr 1px 1fr 1px 1fr;
  align-items: center;
}

.announcements .title, .announcements .content {
  margin: 0 0.5rem;
  font-size: 0.9rem;
}

.announcements .content {
  font-size: 0.8rem;
}

.line {
  width: 90%;
  height: 1px;
  background: var(--less-dark-text);
  justify-self: center;
}

.trending {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  gap: 0.5rem;
}

.info .handle, .info .projectname {
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
}

.content, .projectname {
  color: var(--less-dark-text);
}

.card:hover, .announcements:hover, .trending:hover {
  transform: translate(-3px, -3px);
}

.searchbar:hover, button:hover {
  background: var(--accent-hover)
}

.navlabel:hover {
  text-decoration: 3px underline;
  text-underline-offset: 5px;
}